.App {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.token {
  height: 25px;
}

.trophy-token {
  height: 19px;
}

.no-left {
  padding-left: 0em;
}

a {
  color: #7939ae;
}

.token-text {
  font-size: 14px;
}

.good-prize  {
  border: 1px solid rgb(51, 9, 66);
  border-radius: 2px;
  background-color: #937aec;
  color: white;
  padding: 3px;
  font-size: 14px;
}

.time-number {
  background-color: #4f3a9b;
  color: white;
  padding: 3px;
  border-radius: 2px;


}


.wallet-icon {
  height: 20px;
}

.pending-text {
  font-size:13px;

}
.numb-purp {
  color: #7333db;
  padding-left: .2em;
  padding-right: .2em;
}

table th,
table td {
  padding: 4px;
  /* Apply cell padding */
}

.myButton {
  left: 300px;
  /* width:30px!important; */
  font-size: 14px !important;
  border-radius: 4px;
  background-color: white;
  margin-top: 9px;
  vertical-align: top;
  cursor: pointer;
  font-family: Inter,sans-serif!important;

}

.wallet-div {
  position: absolute;
  right: 80px;
  display: inline
}

.buy {
  color: green;
}

.sell {
  color: red;
}

.transactions .card-content {
  padding: 0;
}

/* .transactions table {
  width: 100%;
} */



.table-wrapper {
  border-radius: 16px;
}

.dapp .table-wrapper {
  overflow: auto;
  max-height: 90vh;
}

.transactions .card .card-header {
  border-bottom: 1px solid rgba(24, 28, 33, .06);
}

.card {
  max-width: 969px !important;
}

.dapp .card {
  border-radius: 6px;
}

.switch-btn {
  background-color: #63c1da;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .8rem;
  padding-right: .8rem;
  border-radius: 9999px;
  cursor: pointer;

}

.navcolor {
  color: red;
}

.emoji {
  height: 25px;
  padding-left: 5px;
}

.token-icon {
  height: 25px;
  width: 25px;
  padding-left: 3px;
}

.lido-icon {
  height: 18px;
  /* width: 25px; */
  padding-left: 3px;
}

.left-three {
  padding-left: 3px;
  margin-left: 5px;
}

.no-bottom {
  margin-bottom: 0 !important;
}

th,
td {
  font-family: 'verdana' !important;

  font-weight: 800 !important;
}

html {
  height: 100%
}

body {
  min-height: 100%;
  padding-bottom: 40px;
  /* background: linear-gradient(334deg,#4c249f 28%,rgba(255,119,225,.9) 164%),#290b5a; */
  background: linear-gradient(334deg, #0001d185 28%, rgb(202 119 255 / 88%) 164%), #290b5a0d;
  color: white !important;
}

.column {
  /* background-color:#2e0a59!important;
  color:white; */
  /* background: linear-gradient(334deg,#4c249f 28%,rgba(255,119,225,.9) 164%),#290b5a!important; */
  background: linear-gradient(334deg, #24789f 28%, rgb(202 119 255 / 88%) 164%), #290b5a0d;
  color: rgb(131, 115, 115) !important;
  background-color: #341662 !important;

}

.remove-underline {
  text-decoration: none;
}

.coinicon {
  width: 16px !important;
  height: 16px;
}

.icon {
  width: 25px;
}

/* 
.relative-div {
  position:relative;
}
.child {
  position: fixed;
  top: 0;
} */

.child1 {
  left: 0;
  opacity: .95;
}

.child2 {
  left: 20px;

}

.navbar-brand {
  padding-left: 50px;
  /* color: white!important; */
  color: #b7f8f3 !important;
  font-size: 30px;
  font-weight: 600;
}

.dropdown-toggle {
  color: white !important;
  font-size: 20px;
  font-weight: 600;

}

.dropdown {
  padding-left: 400px;

}

.dropdown-menu {
  left: 400px;
}

.table-inputamount td {
  padding:0px;
}
.topData {
  display: inline-block;

}
.amount-container {
  margin-top:18px;
  margin-bottom:7px;
}
.addressText {
  display: inline-block;
}

.top-title {
  font-size: 35px;
  vertical-align: bottom;
  color: #6f34d5
}

.timer-text {
  font-size: 12px;
  color: #311563;
}



.protocol table {
  display: inline;
  border-radius: .25em;
  margin: 5px;
  overflow: hidden;
  margin-left: 100px;
}

.trophy {
  height: 32px;

}

.table {
  background-color: #f4f4f9;
}

.table-header {
  font-size: 22px;
  color: black;
  padding: 30px;
}

.table-text {
  font-size: 16px;
  color: black;
}

.tdcenter td {
  text-align: center;

}

.protocol td {
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.protocol thead {
  border-radius: 10px;
}

@media only screen and (max-width: 1280px) {
  .wallet-div {
    right: 400px
  }
}

@media only screen and (max-width: 900px) {
  .wallet-div {
    right: 65px;
  }
}

@media only screen and (max-width: 500px) {
  .wallet-div {
    right: 20px;
  }

  .top-bar-span {
    font-size: 11px;
  }
}

@media only screen and (max-width: 600px) {
  .protocol table {

    margin-left: 10px;
  }

  .dropdown {
    padding-left: 80px;
  }

  .addressText {
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  .addressTextShort {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */


  }

  .dropdown-menu {
    left: 100px;
  }

  /* .topData {
    display:block;
  } */

}

@media only screen and (max-width: 350px) {


  .addressTextOldPhones {
    width: 80px;
  }
}

.navbar {
  /* background-color: #2d0b5a!important; */
  /* background-color: #2d0b5a87!important; */
  background-color: #3b166c7a !important;
}

.card-header {
  padding: 0px !important;
  font-size: 18px;
  display: inline !important;
  max-height: 70px !important;
}

.card-header-tall-mobile {
  max-height: 100px !important;
}

.address-input {
  background-color: #9846b852;
  border-radius: 5px;
  width: 400px;
  font-size: 16px;
}

.blue-hover:hover {
  background-color: #b8f8f266
}

.stamp {
  transform: rotate(0deg);
  color: #2775ca;
  font-size: 10px;
  font-weight: 700;
  border: 2px solid #2775ca;
  display: inline-block;
  padding: 2px 4px;
  text-transform: uppercase;
  border-radius: 1rem;
  font-family: 'Courier';
  /* -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px; */
  /*   mix-blend-mode: multiply; */
}

.purple-hover:hover {
  background-color: #e2c8fa;
}

.claimStamp {
  transform: rotate(0deg);
  color: #800080;
  font-size: 11px;
  font-weight: 700;
  border: 2px solid #800080;
  display: inline-block;
  padding: 2px 4px;
  text-transform: uppercase;
  border-radius: 1rem;

  font-family: 'Courier';

    font-family: Inter,sans-serif;

  /* -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px; */
  mix-blend-mode: multiply;
}

.tablemax {
  max-width: 360px;
}
.get-token {
  color:black;
  font-size:13px;
  font-family: Inter,sans-serif!important;

}
.middle-table {
  background-color:#ececfa;
  color:black;
  max-width:360px;
  width:100%;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: .25rem!important;
  /* border-radius:20px!important; */
}
.top-table{
  max-width:360px;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: .25rem!important;
  /* border-radius:20px!important; */

}
.wallet-table{
  min-width:230px;
}
.bottom-table {
  width: 100%;
  background-color: #ececfa;
  max-width:360px;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: .25rem!important;
  /* border-radius:20px!important; */

}


  
  .info-text {
  color:#505051;
  font-size:10px;
}
.padding-top {
 padding-top:12px;
}
.padding-bottom {
  padding-bottom:12px;
}
.inner-middle-table td {
  padding:15px;
  width:100%;
 
}
.wallet-buttons {
  margin-top:3px;
  margin-bottom:4px;
  display:inline-block;
}
.text-one {
  font-family: Inter,sans-serif!important;

  font-size:16px;
  color:#48474b
}
.text-two {
  font-family: Inter,sans-serif!important;

  font-size:16px;
  color:#48474b
}
.top-left-image{
  height:50px;
  margin-left:10px;
  margin-top:10px;
}
.botton-table {
  background-color:rgb(59, 8, 59);
}
.text-three {
  font-family: Inter,sans-serif!important;

  font-size: 16px;
  color: rgb(138 43 138);

}
.text-four {
  font-family: Inter,sans-serif!important;

  font-size: 16px;
  color:#48474b
}
.eth-title {
  height:58px;
}
.bottom-menu {
  display: inline-block;
  cursor: pointer;
  color:black;
  font-size:16px;
  
}

.actionButton {

  color: #6f34d5;
  font-size: 17px;
  font-weight: 700;
  border: 2px solid #6f34d5;
  display: inline-block;
  padding: 2px 4px;
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-family: 'Courier';
  font-family: Pilot,sans-serif!important;

  /* -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px; */
  /* mix-blend-mode: multiply; */
}

.display-not-block {
  display: inline;
}

.actionButton:hover {
  background-color: #e3b8f82e
}

.expired-stamp {
  color: rgb(147, 131, 131) !important;
  border-color: rgb(107, 103, 103)
}

@media only screen and (max-width: 350px) {

  .address-input {
    width: 320px;
    size: 8px;
  }
}

a.dropdown-item:hover {
  background-color: #e0b3f3 !important;
  color: #0a0a0a;
}

.navbar-toggler-icon {
  background-image: url('https://icon-library.com/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg') !important;
}

.twenty-two {
  font-size: 18px;
}

.transactions .card .card-header {
  background-color: #e3d4fa;
}

.card-header-title {
  padding-top: 1.2rem !important;
}

.section {
  padding: 2.5rem !important;
}

.header-text {
  font-size: 30px;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }

  .header-text {
    font-size: 26px;
  }

  .show-mobile {
    display: inline
  }

  .header-mobile {
    font-size: 16px;
  }

  .section {
    padding: 1.5rem !important;
  }
}

.cool-pooly {
  width: 500px;
}

@media only screen and (min-width:300px) {
  .cool-pooly {
    width: 300px;
  }
}

@media only screen and (min-width:767px) {
  .cool-pooly {
    width: 500px;
  }
}

@media only screen and (min-width:767px) {
  .show-mobile {
    display: none;
  }
}

.small-header {
  font: size 18px;
  padding-top: 35px;
}

.token-right {
  margin-left: -7px;
}

.small-balance {
  font-size: 10px;
}

.yo-soy {
  cursor: pointer;
  padding-left: 10px;
  width: 36px;

}

.yo-soy:hover {
  fill: #1fb0cd;
}

.open-wallet {
  cursor: pointer;
}

.max-balance {
  color: #7333db;
  cursor: pointer;
}

.wallet-message {
  font-size: 10px;
  color: red;
}

.yosoy {
  width: 75px;
}

.amount-input {
  text-align: right;
  width: 236px;
}

.amount-container {
  border: none;
  border-color: #806d99;
  border-radius: 3px;
  padding: 8px;
  margin-left: 15px;
  margin-right: 15px;

}

.right-float {
  float: right;
}

.margint {
  margin-top: 3px;
}

.github {
  margin-right: 10px;
  width: 28px;

}

.discord {
  margin-right: 2px;
  width: 31px;
}
.docs {
  margin-right: 5px;
  margin-left: 7px;
  width: 24px;
}
.more-info {
  /* height:18px; */
  width:18px;
}

.boticon {
  right: 8px;
  position: fixed;
  bottom: 8px;
}
.tvl {  
  bottom:7px;
  position: fixed;
  left: 8px;
  font-size:13px;
}
.main-table {
  background-color:#ececfa;
}
.top-title-text{
  padding-bottom:2px;
  font-size:13px;
  color: #48474b;
  font-family: Inter,sans-serif!important;
}